<%= form_with(model: link) do |form| %>
  <div>
    <%= form.label :full_link, style: "display: block" %>
    <%= form.text_field :full_link %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
