<div class="flex flex-col items-center">
  <div class="text-xl mb-5">Here is your link:</div>
  <div class="border-2 border-green-500 rounded-xl px-5 py-3 text-2xl cursor-pointer mb-5"><%= generate_short_link(@link) %></div>
  <%= link_to "Go back", root_path, class: "hover:text-blue-500" %>
</div>

